



.timeline{
    position:relative;
    max-width:1200px;
    margin:100px auto;
    
}
body{
    background:linear-gradient(to right, #f7cac9, #92a8d1);
    margin-top:50%;
}
.box{
    padding: 10px 50px;
    position:relative;
    width:50%;
    animation:movedown 1s linear forwards;
    opacity:0;
    
}
@keyframes movedown{
    0%{
        opacity:1;
        transform:translateY(0px);
    }
    100%{
        opacity:1;
        transform:translateY(0px)
    }
}

.box:nth-child(1){
    animation-delay:0s;
}
.box:nth-child(2){
    animation-delay:1s;
}
.box:nth-child(3){
    animation-delay:2s;
}
.box:nth-child(4){
    animation-delay:3s;
}
.box:nth-child(5){
    animation-delay:4s;
}
.box:nth-child(6){
    animation-delay:5s;
}
.text-box{
    padding:20px 30px;
    background:#fff;
    position:relative;
    border-radius:6px;
    font-size:15px;
    box-shadow: 0 30px 50px #111;
}
.left-box{
    left:0;
}
.right-box{
    left:50%;
}
.box img{
    position:absolute;
    width:40px;
    border-radius:50%;
    right:-20px;
    top:32px;
    z-index:10;
}
.right-box img{
    left:-20px;
}
.timeline::after {
    content:'';
    position:absolute;
    width:6px;
    height:100%;
    background:#fff;
    top:0;
    left:50%;
    margin-left:-3px;
    z-index:-1;
    animation: moveline 6s linear forwards;
}
@keyframes moveline{
    0%{
        height:0;
    }
    100%{
        height:100%;
    }
}
.text-box h2{
    font-weight:600;
}
.text-box small{
    display:inline-block;
    margin-bottom:15px;
}
.left-box-arrow{
    height:0;
    width:0;
    position:absolute;
    top:28px;
    z-index:1;
    border-top:15px solid transparent;
    border-bottom:15px solid transparent;
    border-left:15px solid #fff;
    right:-15px;
}
.right-box-arrow{
    height:0;
    width:0;
    position:absolute;
    top:28px;
    z-index:1;
    border-top:15px solid transparent;
    border-bottom:15px solid transparent;
    border-right:15px solid #fff;
    left:-15px;
}

@media screen and (max-width:600px){
    .timeline{
        margin:50px auto;
    }
    .timeline::after{
        left:31px;
    }
    .box{
        width:100%;
        padding-left:80px;
        padding-right:25px;
    }
    .text-box{
        font-size:13px;
    }
    .text-box small{
        margin-bottom:10px;
    }
    .right-box{
        left:0;
    }
    .left-box img, .right-box img{
        left:10px;
    }
    .left-box-arrow{
        border-right:15px solid #fff;
        border-left:0;
        left:-15px;
    }
} 



  .wrapper {
    position: absolute;
    width: 80vw;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  .case {
    width: 28vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #54565b;
    border-bottom: 10px solid #1a82bd;
    box-shadow: 0 60px 100px #dbdbdb;
  }
  i {
    color:#fff;
    font-size: 2.5em;
    text-align: center;
  }
  span.num {
    color: #ffffff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }
  span.text {
    color: #e0e0e0;
    font-size: 1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
  }
  @media screen and (max-width: 1024px) {
    .wrapper {
      width: 85vw;
    }
    .case {
      height: 26vmin;
      width: 26vmin;
      font-size: 12px;
    }
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      width: 90vw;
      flex-wrap: wrap;
      gap: 30px;
    }
    .case {
      width: calc(50% - 40px);
      height: 30vmin;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 480px) {
    .wrapper {
      gap: 15px;
    }
    .case {
      width: 100%;
      height: 25vmin;
      font-size: 8px;
    }
  }